.button {
    border: 0;
    background: transparent;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #0d1117;
    background-color: #c9d1d9;
    font-weight: 700;
    cursor:pointer;
  }

.button:hover {
  background-color: #45474a;
}

.close {
  background-color: #e61b00;
  border: 2px solid #ba1600;
  border-radius: 5px;
  color: #c9d1d9;
  font-weight: 700;
  cursor:pointer;
}

.close:hover {
  background-color: #590a00;
}

.icon {
    margin-left: 5px;
    height: 15px;
}
